@tailwind base;

@layer base {
  * {
    font-family: "Karla", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body {
    @apply bg-red-800 text-stone-900;
  }

  h1 {
    @apply font-black;
    font-family: "Vesper Libre", serif;
  }

  /* a {
    @apply transition-all duration-500 underline underline-offset-2 hover:no-underline;
  } */
  a {
    @apply inline-block;

    &::after {
      @apply w-full h-[2px] -mt-[2px] block bg-current opacity-50 transition-all duration-500;
      content: "";
    }

    &:hover::after {
      @apply w-0;
    }
  }

  label {
    @apply text-xl;
  }
}
